hr,
h3 {
  margin: 0;
  padding: 0;
}

.portal-container {
  display: flex;
  font-family: 'Tahoma';
}
.portal__content {
  border-right: 1px solid #fff;
  flex: 0 0 78%;
  padding: 0 15px;
}

.portal-main-news {
  padding: 20px 0;
}

.portal__news-block {
  display: flex;
  justify-content: space-between;
}

.portal__preview-text {
  flex: 0 0 65%;
  letter-spacing: 1px;
  line-height: 1.3;
  word-spacing: 3px;
}
.portal__preview-img {
  width: 300px;
  height: 200px;
}

.portal__info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 0;
}

.portal__link {
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Marvin';
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.2s;
}
.portal__link:hover {
  background: #ff9100;
}

.portal__aside {
  flex: 0 0 18%;
  padding: 0 15px;
}
